.container {
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.formContainer h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
}

.registrationForm input {
  outline: none;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  font-size: 10px;
  width: 35vw;
  height: 3vw;
  margin-bottom: 10px;
}

.loginFormContainer {
  width: 35vw;
}

.loginFormContainer h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.loginFormContainer form {
  display: flex;
  flex-direction: column;
}

.loginForm input {
  outline: none;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  font-size: 10px;
  width: 100%;
  height: 3vw;
  margin-bottom: 10px;
}
.registrationForm input:hover,
.loginForm input:hover {
  border-color: black;
}

.nameContainer {
  display: flex;
  flex-grow: 1;
  gap: 10px;
}

.nameContainer input {
  width: 17.2vw;
}

.dateContainer {
  display: flex;
  max-width: 100%;
}

.genderContainer {
  display: flex;
  gap: 12px;
}

.genderContainer label {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.genderName {
  font-size: 11.2px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  margin-right: 6px;
}

.genderContainer input[type='radio'] {
  width: 22px;
  height: 22px;
}
