.container {
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.formContainer form,
.loginFormContainer form {
  display: flex;
  flex-direction: column;
}
.formContainer h2,
.loginFormContainer h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.registrationForm input,
.loginForm input {
  outline: none;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  font-size: 10px;
  width: 35vw;
  height: 2.5vw;
  margin-bottom: 10px;
}
.registrationForm input:hover,
.loginForm input:hover {
  border-color: black;
}
.nameContainer {
  display: flex;
  gap: 10px;
}

.nameContainer input {
  width: 17.2vw;
}
.passwordInputContainer {
  width: 35vw;
  margin-bottom: 10px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.registrationForm .passwordWrapper {
  border: none;
}

.passwordInputContainer button {
  margin-right: 15px;
}

.dateContainer input {
  display: flex;
  width: 15vw;
}
.genderContainer {
  display: flex;
  gap: 12px;
}

.genderContainer label {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.genderContainer input[type='radio'] {
  width: 22px;
  height: 22px;
}
