.loginFormContainer {
  width: 40%;
}

.loginFormContainer form {
  display: flex;
  flex-direction: column;
}
.loginFormContainer h2 {
  margin-top: 10px;
}
/* phone size */
@media (max-width: 768px) {
  .loginFormContainer {
    width: 100%;
  }
}

.loginFormContainer input[type='email'],
.nameContainer input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 18.5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 12px;
}

.loginFormContainer input[type='email']:hover,
.nameContainer input[type='text']:hover {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.nameContainer {
  display: flex;
  justify-content: space-between;
}

.nameContainer input[type='text'] {
  width: calc(50% - 5px);
}

.passwordInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.passwordInputContainer:hover {
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.passwordInput {
  width: calc(100% - 30px);
  outline: none;
  border: none;
  font-size: 12px;
}

.loginButton {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255);
  border: 1px solid;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  background-color: rgba(255, 255, 255);
  color: rgba(0, 0, 0, 0.9);
}
.forgotPassword {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 10px;
}
.error {
  color: red;
  font-size: 12px;
  display: flex;
  justify-content: column;
}
