.loginFormContainer {
  width: 40%;
}

.loginFormContainer form {
  display: flex;
  flex-direction: column;
}

.loginFormContainer input[type='email'],
.nameContainer input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 12px;
  font-weight: 500;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
}

.nameContainer input[type='text'] {
  width: calc(50% - 5px);
}

.passwordInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.passwordInput {
  width: calc(100% - 30px);
  outline: none;
  border: none;
  font-size: 12px;
}

.loginButton {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255);
  border: 1px solid;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  background-color: rgba(255, 255, 255);
  color: rgba(0, 0, 0);
}
