.colors,
.colorImage,
.colorOption,
.colorLabel,
.colorOption:hover .colorImage,
.color::-webkit-scrollbar,
.productColorTitle {
  display: none;
}

@media (max-width: 568px) {
  .colors,
  .colorImage,
  .colorOption,
  .colorLabel,
  .colorOption:hover .colorImage,
  .color::-webkit-scrollbar,
  .productColorTitle {
    display: block;
  }

  .colorSelectorContainer {
    display: flex;
    flex-direction: column;
  }

  .productColorTitle {
    font-size: 0.8rem;
    color: #000;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 1rem;
  }
  .selectedColorName {
    font-size: 0.8rem;
    color: #000;
    font-weight: 400;
    font-weight: bold;
  }
  .colorOptions {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-color: none;
  }

  .colorOptions::-webkit-scrollbar {
    display: none;
  }

  .colorOption {
    flex-shrink: 0;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border-color: #c9c6c6;
    margin: 5px;
  }

  .colorImage:hover {
    border: 1px solid #000;
  }

  .colorImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #cccaca;
    object-fit: cover;
  }

  .colorOption:hover .colorImage {
    border: 2px solid #000;
    border-radius: 50%;
  }
}
