.container {
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.formContainer,
.loginFormContainer {
  width: 40%;
}

.formContainer form,
.loginFormContainer form {
  display: flex;
  flex-direction: column;
}

.formContainer input[type='email'],
.loginFormContainer input[type='email'],
.formContainer input[type='text'],
.formContainer input[type='tel'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  font-size: 12px;
  font-weight: 500;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
}

.nameContainer input[type='text'] {
  width: calc(50% - 5px);
}

.passwordInputContainer {
  margin-bottom: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
}

.passwordWrapper {
  width: calc(100% - 32px);
}

.eyeButton {
  font-size: 18px;
}

.dateGenderContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}

.dateContainer,
.genderContainer {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.dateContainer label,
.genderContainer label {
  margin-bottom: 5px;

}

.dateContainer .react-datepicker-wrapper,
.dateContainer .react-datepicker__input-container input {
  width: 100%;
}

.genderContainer div {
  display: flex;
  gap: 10px;
  font-size: 12px;
  margin-top: 10px;
}

.genderContainer input[type='radio'] {
  width: 20px;
  height: 20px;
}

.signUpButton,
.loginButton {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0);
  color: rgba(255, 255, 255);
  border: 1px solid;
  font-weight: bold;
}

.signUpButton:hover,
.loginButton:hover {
  background-color: rgba(255, 255, 255);
  color: rgba(0, 0, 0);
}
