.imageContainer {
  flex: 1 1 25%;
  display: flex;
  align-items: flex-start;
  margin: 0px 10px;
  justify-content: center;
  object-fit: contain;

}

.productImage {
  width: 100%;
  max-width: 25vw;
  height: auto;
  max-height: 25vw;
  object-fit: contain;
  padding: 0;
  background-color: rgb(246, 245, 245);
}
@media (max-width: 1024px) {
  .imageContainer {
    flex: 1 1 45%;
  }

  .productImage {
    display: block;
  }
}
@media (max-width: 768px) {
  .imageContainer {
    flex: 1 1 35%;
  }

  .productImage {
    display: block;
  }
}

@media (max-width: 568px) {
  .imageContainer {
    display: none;
  }

  .productImage {
    display: none;
  }
}
