.bannerContainer {
  flex: 1;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em;
  max-width: 100%;
}
.bannerWrap {
  max-width: 100%;
  height: 40vh;
  display: flex;
}

.bannerImage {
  flex: 1;
  transition: flex 0.8s ease, z-index 0.5s ease;
  overflow: hidden;
}

.bannerImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.bannerText {
  flex: 1;
  font-weight: bold;
  justify-content: space-between;
}

.bannerText h1 {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.2em;
}
.bannerText p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.bannerButton {
  background-color: black;
  color: white;
  padding: 5px 32px;
  border: 1px solid transparent;
  font-size: 0.8rem;
}

.bannerButton:hover {
  background-color: #fff;
  color: black;
  border-color: black;
}

@media (min-width: 1025px) {
  .bannerWrap {
    margin-left: 15px;
  }
  .bannerText {
    margin-right: 15px;
  }
  .mobileBanner {
    display: none;
  }
}

@media (max-width: 1024px) {
 
  .bannerWrap {
    display: none;
  }
  .mobileBanner {
    display: block;
  }
  .bannerText {
    margin-right: 1.5rem;
  }

  .bannerText h1 {
    font-size: 4.2rem;
  }
  .bannerText p {
    font-size: 1.2rem;
  }
  .bannerButton {
    padding: 5px 15px;
    font-size: 1rem;
  }
  .mobileBanner {
    width: 27.5rem;
  }
}

@media (max-width: 768px) {
  .bannerContainer {
    padding: 1.5em;
  }
  .bannerText {
    margin-right: 2.5rem;
  }

  .bannerText h1 {
    font-size: 3.5rem;
  }
  .bannerText p {
    font-size: 1.2rem;
  }

  .bannerButton {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  .mobileBanner {
    width: 27.5rem;
  }
}
@media (max-width: 568px) {
  .bannerContainer {
    padding: 0.3em;
  }
  .bannerText {
    margin-left: 0.5rem;
  }
  .bannerText h1 {
    font-size: 1.9rem;
  }
  .bannerText p {
    font-size: 0.8rem;
    margin-bottom: 2px;
  }
  .bannerButton {
    padding: 2px 3px;
    font-size: 0.55rem;
  }
  .mobileBanner {
    width: 20.8rem;
  }
}
