.bannerContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
}

.bannerWrap {
  width: 70rem;
  height: 18.8rem;
  display: flex;
}

.bannerImage {
  flex: 1;
  transition: flex 0.8s ease, z-index 0.5s ease;
  overflow: hidden;
}

.bannerImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.bannerText {
  flex: 1;
  font-weight: bold;
}

.bannerText h1 {
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.bannerText p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.bannerButton {
  background-color: black;
  color: white;
  padding: 5px 32px;
  border: 1px solid transparent;
  font-size: 0.8rem;
  margin-top: 12px;
}

.bannerButton:hover {
  background-color: #fff;
  color: black;
  border-color: black;
}
.mobileBanner {
  display: none;
  width: 30rem;
}
@media (max-width: 1400px) {
  .bannerContainer {
    padding: 50px 50px;
  }
  .bannerWrap {
    width: 55rem;
    height: 18.8rem;
  }
  .bannerText h1 {
    font-size: 5.5rem;
  }
  .bannerText p {
    font-size: 1rem;
  }
  .bannerButton {
    padding: 5px 15px;
    font-size: 0.6rem;
  }
}

@media (max-width: 1024px) {
  .bannerContainer {
    padding: 50px 40px;
  }
  .bannerWrap {
    display: none;
  }
  .mobileBanner {
    display: block;
  }
  .bannerText h1 {
    font-size: 5.5rem;
  }
  .bannerText p {
    font-size: 1.1rem;
  }
  .bannerButton {
    padding: 5px 15px;
    font-size: 0.8rem;
  }
  .mobileBanner {
    width: 32rem;
  }
}
@media (max-width: 768px) {
  .bannerContainer {
    padding: 50px 25px;
  }

  .bannerText h1 {
    font-size: 4rem;
  }
  .bannerText p {
    font-size: 1rem;
  }

  .bannerButton {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  .mobileBanner {
    width: 25rem;
  }
}
@media (max-width: 568px) {
  .bannerContainer {
    padding: 30px 12px;
  }
  .bannerText h1 {
    font-size: 2.4rem;
  }
  .bannerText p {
    font-size: 0.6rem;
    margin-bottom: 2px;
  }
  .bannerButton {
    padding: 2px 5px;
    font-size: 0.5rem;
  }
  .mobileBanner {
    width: 12.8rem;
  }
}
