.bannerContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.bannerWrap {
  width: 60rem;
  height: 18rem;
  display: flex;
  gap: 0;
}

.bannerImage {
  flex: 1;
  transition: flex 0.5s ease, z-index 0.5s ease;
  overflow: hidden;
}

.bannerImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.bannerImage:hover {
  flex: 4;
}

.bannerImage:hover img {
  transform: scale(1.2);
}
.bannerText {
  flex: 1;
  font-weight: bold;
}
.bannerText h1 {
  font-size: 5.5rem;
}
.bannerText p {
  color: black;
}
.bannerButton {
  background-color: black;
  color: white;
  padding: 5px 32px;
  border: 2px solid transparent;
  font-size: 0.8rem;
  margin-top: 12px;
}

.bannerButton:hover {
  background-color: #fff;
  color: black;
  border-color: black;
}
@media (max-width: 1169px) {
  .bannerWrap {
    display: none;
  }
}

@media (min-width: 1170px) {
  .mobileBanner {
    display: none;
  }
}
