.bannerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.cardbodyimages {
  padding: 10px;
  width: calc(25% - 20px);
}
.buttonContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  margin-top: 35px;
  font-size: 17px;
  font-weight: bold;
}

.button {
  margin-top: 8px;
  font-size: 14px;
}

.hrLine {
  width: 100%;
  height: 1px;
  background-color: #333;
}

@media (max-width: 1024px) {
  .title {
    margin-top: 30px;
    font-size: 16.5px;
  }

  .button {
    margin-top: 8px;
    font-size: 14.5px;
  }
}
@media (max-width: 1023px) {
  .title {
    margin-top: 20px;
    font-size: 12.2px;
  }

  .button {
    margin-top: 8px;
    font-size: 12px;
  }
}
@media (min-width: 769px) {
  .bannerContainer {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .bannerContainer {
    flex-direction: column;
    align-items: center;
  }

  .cardbodyimages {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }
  .buttonContainer {
    margin-left: 15px;
  }
  .title {
    margin-top: 20px;
    font-size: 18px;
  }

  .button {
    margin-top: 8px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {

  .buttonContainer {
    margin-left: 15px;
  }
  .title {
    margin-top: 18px;
    font-size: 16px;
  }

  .button {
    margin-top: 8px;
    font-size: 12px;
  }
}
