.bannerContainer {
  display: flex;
  justify-content: center;
}
.buttonContainer {
  margin-bottom: 35px;
}

.title {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.button {
  font-size: 15px;
  border-bottom: 1px solid black;
}

@media (max-width: 1024px) {

  .title {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .button {
    margin-bottom: 10px;
    font-size: 15px;
  }
}
@media (max-width: 1023px) {
  .title {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 13.99px;
  }

  .button {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .bannerContainer {
    flex-direction: column;
    align-items: center;
  }

  .cardbodyimages {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }
  .buttonContainer {
    margin-bottom: 35px;
    margin-left: 15px;
  }
  .title {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 18px;
  }

  .button {
    font-size: 15px;
  }
}

@media (max-width: 568px) {
  .buttonContainer {
    margin-bottom: 30px;
  }
  .title {
    margin-top: 18px;
    margin-bottom: 2px;
    font-size: 18px;
  }

  .button {
    font-size: 14px;
  }
}
