.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1.5rem;
}

.navbarLinks ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarLinks a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.navbarLinks a:hover {
  color: darkgray;
}

.navbarLinks ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.combinedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  color: var(--text-color);
}

.categoryLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 15px;
}

.categoryLinks ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.categoryLinks li {
  margin: 0 10px;
}

.categoryLinks a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 14.5px;
}

.categoryLinks a:hover {
  color: darkgray;
}
