/*@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .combinedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .searchContainer {
    margin-top: 1rem;
  }

  .navbarLinks {
    margin-top: 1rem;
  }
}*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1.5rem;
}

.navbarLinks ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarLinks a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.navbarLinks a:hover {
  color: darkgray;
}

.navbarLinks ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.combinedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  color: var(--text-color);
}

.searchContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  padding: 0.6rem;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  width: 30%;
  background-color: transparent;
}
/* .searchButton {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  max-width: 80px;
  white-space: nowrap;
} */

.searchInput:focus {
  outline: none;
  border-color: #ccc;
}

.categoryLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 15px;
}

.categoryLinks ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.categoryLinks li {
  margin: 0 10px;
}

.categoryLinks a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.categoryLinks a:hover {
  color: darkgray;
}
.sidebar {
  display: none;
}
.sidebarToggle {
  display: none;
}

@media (max-width: 768px) {
  .combinedContainer {
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    transition: transform 0.3s ease;
    overflow-y: auto;
    transform: translateX(-100%);
  }

  .sidebarOpen {
    transform: translateX(0);
  }
  .sidebarOpen {
    transform: translateX(0);
  }

  .sidebarToggle {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 999;
  }
  .sidebarToggle:focus {
    outline: none;
  }

  .categoryLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    transition: left 0.3s ease;
    overflow-y: auto;
  }

  .categoryLinks ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categoryLinks li {
    margin-bottom: 10px;
    width: 100%;
  }

  .categoryLinks a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease;
    width: 100%;
    text-align: center;
  }
}
