.categoryLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 15px;
}

.categoryLinks ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.categoryLinks li {
  margin: 0 10px;
}

.categoryLinks a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1rem;
}

.categoryLinks a:hover {
  color: darkgray;
}
.sidebarToggle {
  display: none;
}
.sidebarlogo {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 90%;
    background-color: #f2f2f2;
    height: 100%;
    overflow-y: auto;
    transform: translateX(-100%);
  }
  .sidebarOpen {
    transform: translateX(0);
  }
  .sidebarToggle {
    display: block;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 0;
    position: absolute;
    top: 0.6rem;
    left: 1.1rem;
  }
  .sidebarToggle:focus {
    outline: none;
  }
  .categoryLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }

  .categoryLinks li {
    margin-bottom: 30px;
    width: 100%;
  }

  .categoryLinks a {
    font-size: 25px;
  }
  .sidebarlogo {
    display: block;
    padding: 2rem 2rem;
  }

  .sidebarlogo a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 3.2rem;
  }
}

@media (max-width: 568px) {
  .categoryLinks {
    padding: 1rem;
  }

  .categoryLinks li {
    margin-bottom: 10px;
    width: 100%;
  }

  .categoryLinks a {
    font-size: 15px;
  }
  .sidebarlogo {
    padding: 1rem;
  }

  .sidebarlogo a {
    font-size: 2rem;
  }
}
