.sidebarToggle {
  display: none;
}


@media (max-width: 768px) {

  .sidebarToggle {
    font-size: 1.7rem;
    display: block;
  }

  .sidebarToggle:focus {
    outline: none;
  }

  .categoryLinks {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 1.2rem;
    height: 300px;
    overflow-y: scroll;
  }

  .categoryLinks li {
    margin-bottom: 30px;
    width: 100%;
  }

  .categoryLinks a {
    font-size: 25px;
  }

  .closeIcon {
    font-size: 2.1rem;
  }
}

@media (max-width: 568px) {
  .categoryLinks {
    padding: 2rem 0.8rem;
    height: 200px;
  }

  .sidebarToggle {
    top: 1rem;
    left: 0.9rem;
    font-size: 1.5rem;
  }

  .categoryLinks li {
    margin-bottom: 10px;
    width: 100%;
  }

  .categoryLinks a {
    font-size: 15px;
  }

  .closeIcon {
    font-size: 1.2rem;
  }
}