.imageThumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: center;
}
.thumbnailImage {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 568px) {
  .imageContainer {
    width: 100%;
    display: none;
  }
  .imageThumbnailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f6f4f4;
  }

  .imageThumbnails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    border-radius: none;
    border: none;
  }
  .imageThumbnails::-webkit-scrollbar {
    display: none;
  }

  .thumbnailImage {
    box-shadow: none;
    border-radius: 0;
    border: none;
    flex: 0 0 100%;
    height: auto;
    cursor: pointer;
    scroll-snap-align: center;
  }
  .pagination {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100vw; 
    margin: 10px; 
    padding: 20px 0; 
    background-color: #fff; 
    border: 1px solid #f1eded;
    box-sizing: border-box; 
  }
  
  .dot {
    display: inline-block;
    height:10px;
    width:10px;
    background-color: #fff; 
    border-radius: 50%;
    margin: 0 5px; 
    border: 1px solid #8b8a8a;
  }
  
  .dot.active {
    background-color: #1a6b7c;
    border: none;
  }
  
}
