.productDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
}

.imageThumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40px;
  justify-content: flex-start;
}

.thumbnailImage {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  object-fit: cover;
  border-radius: 5px;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  margin-right: 0;
}

.productImage {
  object-fit: cover;
  width: 95%;
  height: auto;
}

.productInfo {
  flex: 2;
}

.productBrand {
  font-size: 0.875rem;
  color: #007185;
  font-weight: 500;
}

.productInfo h1 {
  font-size: 1.2rem;
  font-weight: 450;
  line-height: 1.3;
  margin: 5px 0;
  color: #111;
}

.productPrice {
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  margin-top: 10px;
}

.additionalInfo {
  font-size: 14px;
  margin-top: 5px;
  color: #000;
}

.reviewSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.starRating {
  display: flex;
}

.reviewText {
  color: #007185;
  font-size: 0.875rem;
  text-decoration: none;
  cursor: pointer;
}

.reviewText:hover {
  text-decoration: underline;
  color: #d47b00;
}

.ratingValue {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 5px;
}

.colors {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.colorOption {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.colorImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.productColorTitle {
  font-size: 0.9rem;
  color: #000;
  font-weight: 600;
  margin-top: 5px;
}
.divider {
  border-top: 1px solid #ddd;
}
.productDetails {
  margin-top: 15px;
}

.productDetailsTitle {
  font-size: 0.95rem;
  margin-bottom: 10px;
  color: #000;
  font-weight: 500;
  font-weight: bold;
}

.productDetailsItem {
  display: flex;
  justify-content: flex-start;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.productDetailsItem strong {
  font-weight: 600;
  font-size: 13px;
  color: #000;
}

.productDetailsItem span {
  color: #000;
  font-size: 13px;
  margin-left: 10px;
}

@media (max-width: 1024px) {
  .productDetail {
    padding: 20px 40px;
  }
  .productInfo h1 {
    font-size: 1rem;
    line-height: 1.3;
  }
  .productPrice {
    font-size: 0.7rem;
    margin-top: 10px;
  }
  .productDetailsTitle {
    font-size: 0.8rem;
  }
  .productDetailsItem {
    font-size: 0.75rem;
  }
  .ratingValue {
    font-size: 0.8rem;
  }
  .reviewText {
    font-size: 0.7rem;
  }
  .additionalInfo {
    font-size: 0.75rem;
  }
  .productColorTitle {
    font-size: 0.8rem;
  }
  .productDetailsItem strong {
    font-size: 12px;
  }

  .productDetailsItem span {
    color: #000;
    font-size: 12px;
 
  }
}
@media (max-width: 768px) {
  .productDetail {
    padding: 20px 40px;
  }
  .imageContainer {
    max-width: 100%;
    margin-right: 10px;
  }

  .productImage {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .imageThumbnails {
    flex-direction: column;
    width: auto;
    margin: 0 auto;
  }

  .thumbnailImage {
    width: 80%;
    height: 40px;
  }

  .productInfo {
    margin-left: 0;
  }
  .productInfo h1 {
    font-size: 0.95rem;
    line-height: 1.3;
  }
  .productPrice {
    font-size: 0.7rem;
    margin-top: 10px;
  }
  .productColorTitle {
    font-size: 0.8rem;
  }
  .starRating {
    font-size: 0.8rem;
  }

  .reviewText {
    font-size: 0.6rem;
  }
  .additionalInfo {
    font-size: 0.7rem;
  }
  .ratingValue {
    font-size: 0.8rem;
  }
  .productDetails {
    margin-top: 10px;
  }

  .productDetailsTitle {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .productDetailsItem {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .productDetailsItem strong {
    font-weight: 600;
    font-size: 10px;
  }

  .productDetailsItem span {
    color: #000;
    font-size: 10px;
    margin-left: 10px;
  }
}
