.productDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 35px;
  margin: 0 auto;
}
.imageThumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: center;
}
.thumbnailImage {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  flex: 1 1 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.productImage {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0;
}
.productInfo {
  flex-basis: 60%;
  background-color: #ffffff;
  padding: 0px 20px;
}

.productBrand {
  font-size: 0.875rem;
  color: #007185;
  font-weight: 500;
}

.productInfo h1 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 450;
  line-height: 1.3;
  margin: 5px 0;
  color: #111;
}

.productPrice {
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  margin-top: 10px;
}

.additionalInfo {
  font-size: 14px;
  margin-top: 5px;
  color: #000;
}

.reviewSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.starRating {
  display: flex;
}

.reviewText {
  color: #007185;
  font-size: 0.75rem;
  text-decoration: none;
  cursor: pointer;
}

.reviewText:hover {
  text-decoration: underline;
  color: #d47b00;
}
.reviewText::after {
  content: '|';
  margin-left: 5px;
  color: #2c697d;
}

.reviewText:last-of-type::after {
  content: '';
}

.ratingValue {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 5px;
}

.colors {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
.colorImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.colorOption {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.productColorTitle {
  font-size: 0.9rem;
  color: #555;
  font-weight: 400;
  margin-top: 5px;
}
.divider {
  border-top: 1px solid #ddd;
}
.productDetails {
  margin-top: 15px;
}

.productDetailsTitle {
  font-size: 0.95rem;
  margin-bottom: 10px;
  color: #000;
  font-weight: 500;
  font-weight: bold;
}

.productDetailsItem {
  display: flex;
  justify-content: flex-start;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.productDetailsItem strong {
  font-weight: 600;
  font-size: 13px;
  color: #000;
}

.productDetailsItem span {
  color: #000;
  font-size: 13px;
  margin-left: 10px;
}
.sizeSelector {
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
  color: #555;
  font-weight: 400;
}
.sizeDropdown {
  margin-top: 2px;
  width: 20%;
  padding: 5px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  background-color: #f9f9f9;
  outline: none;
  font-size: 14px;
  color: #333;
}

.sizeDropdown:focus {
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 0 3px #31737d;
}

.sizeDropdown:hover {
  border-color: #bdbdbd;
}
.stockAndPurchaseSection {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1.5vw;
  border-radius: 0.5vw;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 250px;
}

.inStock {
  color: #4caf50;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 1vw;
}

.quantitySelector {
  width: 100%;
  margin-bottom: 20px;
}

.quantityDropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 12px;
}

.addToCartButton,
.buyNowButton {
  display: block;
  width: 100%;
  padding: 0.7vw;
  font-size: 0.9vw;
  color: #000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 1vw;
}

.addToCartButton {
  background-color: #f7c537;
}



.buyNowButton {
  background-color: #ff9900;
}



.mobileProductTitle {
  display: none;
}

.ratingScore,
.reviewTextContent,
.dividerLine,
.brandName,
.ratingStars,
.productTitleMobile,
.sizeScrollContainer,
.detailsSection {
  display: none;
}

@media (max-width: 1024px) {
  .productDetail {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px;
  }
  .imageContainer {
    flex: 1 1 50%;
  }

  .productImage {
    max-width: 100%;
    height: auto;
  }

  .productInfo {
    flex-basis: 40%;
  }

  .thumbnailImage {
    width: 40px;
    height: 35px;
    border: 1px solid #ccc;
  }
  .reviewSection {
    margin-top: 10px;
  }
  .ratingValue {
    font-size: 1rem;
  }
  .reviewText {
    font-size: 0.6rem;
  }
  .reviewText::after {
    margin: 0 5px;
  }
  .productInfo h1 {
    font-size: 1.2rem;
  }
  .sizeSelector {
    font-size: 15px;
  }
  .sizeDropdown {
    width: 30%;
    font-size: 14px;
  }
  .stockAndPurchaseSection {
    max-width: 26vw;
    padding: 15px;
    border-radius: 10px;
  }

  .addToCartButton,
  .buyNowButton {
    font-size: 1.2vw;
  }
  .productBrand {
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  .productDetail {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px;
  }

  .imageContainer {
    flex: 1 1 50%;
  }

  .productImage {
    max-width: 100%;
    height: auto;
  }

  .thumbnailImage {
    width: 45px;
    height: 38px;
    border: 1px solid #ccc;
  }
  .productInfo {
    flex-basis: 10%;
    padding: 0px 10px;
  }

  .reviewSection {
    margin-top: 10px;
  }
  .ratingValue {
    font-size: 0.75rem;
  }
  .reviewText {
    font-size: 0.52rem;
  }
  .reviewText::after {
    margin: 0 5px;
  }
  .productInfo h1 {
    font-size: 1.1rem;
  }
  .sizeSelector {
    font-size: 15px;
  }
  .sizeDropdown {
    width: 35%;
    font-size: 14px;
  }
  .stockAndPurchaseSection {
    max-width: 24vw;
    padding: 15px;
    border-radius: 10px;
  }

  .addToCartButton,
  .buyNowButton {
    font-size: 1.2vw;
  }
  .colorOption {
    width: 40px;
    height: 35px;
  }
  .colors {
    gap: 5px;
  }
}
@media (max-width: 568px) {
  .productDetail {
    flex-direction: column;
    padding: 10px 5px;
    justify-content: center;
  }
  .productTitleMobile {
    display: flex;
    font-size: 0.85rem;
    font-weight: 450;
    line-height: 1.3;
    margin: 5px 0;
    color: #565959;
  }
  .ratingScore,
  .reviewTextContent,
  .dividerLine,
  .brandName,
  .ratingStars,
  .productTitleMobile,
  .sizeScrollContainer,
  .detailsSection {
    display: block;
  }
  .productInfo h1,
  .ratingValue,
  .reviewText,
  .divider,
  .productBrand,
  .starRating,
  .ratingValue,
  .productPrice,
  .sizeDropdown,
  .productDetails
{
    display: none;
  }
  .brandName {
    display: flex;
    margin-top: 10px;
    font-size: 0.7rem;
    color: #007185;
    font-weight: 500;
  }
  .imageContainer {
    width: 100%;
    display: none;
  }
  .imageThumbnailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageThumbnails {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .imageThumbnails::-webkit-scrollbar {
    display: none;
  }

  .thumbnailImage {
    width: 340px;
    height: 352px;
    object-fit: cover;
    scroll-snap-align: start;
    flex-shrink: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .dot {
    height: 8px;
    width: 8px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: #19931d;
  }

  .ratingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .brandName {
    font-size: 0.8rem;
    color: #007185;
    font-weight: 500;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .ratingDetails {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-end;
  }

  .ratingScore {
    font-size: 0.8rem;
    color: #007185;
    margin-right: 5px;
  }

  .ratingStars {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }

  .stockAndPurchaseSection {
    width: 100%;
    max-width: none;
  }
  .productContainer {
    width: 100%;
    padding: 0 10px;
  }
  .productColorTitle {
    font-size: 0.8rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .colors {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-color: none;
  }

  .colorOption {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: calc(100% / 4.5);
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
  }

  .colorOption:hover {
    border: 2px solid #000;
    border-radius: 50%;
  }

  .colorImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .colors::-webkit-scrollbar {
    display: none;
  }
  .sizeScrollContainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-color: none;
  }
  .sizeSelectorTitle {
    font-size: 0.8rem;
    color: #000;
    font-weight: 500;
  }
  .sizeButton {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: calc(100% / 3.5);
    height: auto;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 3px;
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
  }

  .sizeButton:hover {
    background-color: #000;
    color: #fff;
    border-color: #31737d;
  }

  .sizeScrollContainer::-webkit-scrollbar {
    display: none;
  }
  .stockAndPurchaseSection {
    border: none;
  }

  .productDivider {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .priceText {
    font-size: 2rem;
    font-weight: bold;
    font-weight: 500;
  }
  .quantityDropdown {
    width: 100%;
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    font-size: 1rem;
  }
  .addToCartButton {
    margin-bottom: 15px;
  }
  .addToCartButton,
  .buyNowButton {
    width: 100%;
    padding: 3vw;
    font-size: 4vw;
  }
  .addToCartButton:hover {
    border: 4px solid  #31737d;
  }
  
  .buyNowButton:hover {
    border: 4px solid  #31737d;
  }
  .detailsSection {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-top: 10px;
  }
  .detailsTitle {
    font-size: 0.95rem;
    margin-bottom: 10px;
    color: #000;
    font-weight: 500;
    font-weight: bold;
  }

  .detailItem {
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .detailItem strong {
    font-weight: 600;
    font-size: 13px;
    color: #000;
  }

  .detailItem span {
    color: #000;
    font-size: 13px;
    margin-left: 10px;
  }
}
