.aboutSectionContainer {
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.aboutSection {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #333;
  max-height: 60px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-weight: 450;
}
.aboutSectionTitle {
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.toggleCheckbox {
  display: none;
}

.toggleCheckbox:checked + .aboutSection {
  max-height: max-content;
}

.toggleButton {
  display: block;
  background-color: transparent;
  border: none;
  color: #007185;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 10px;
}

.toggleButton:hover {
  text-decoration: underline;
  color: #005f67;
}

.toggleCheckbox:checked + .aboutSection + .toggleButton::after {
  content: 'See less';
}

.toggleButton::after {
  content: 'See more';
}

.productDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 0 auto;
}

.imageContainer {
  flex: 1 1 35%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.productImage {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0;
}
.productInfo {
  flex-basis: 60%;
  background-color: #ffffff;
  padding: 0px 12px;
}

.productBrand {
  font-size: 0.875rem;
  color: #007185;
  font-weight: 500;
}

.productInfo h1 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 450;
  line-height: 1.3;
  margin: 5px 0;
  color: #111;
}

.productPrice {
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  margin-top: 10px;
}

.additionalInfo {
  font-size: 14px;
  margin-top: 5px;
  color: #000;
}

.reviewSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.starRating {
  display: flex;
}

.reviewText {
  color: #007185;
  font-size: 0.75rem;
  text-decoration: none;
  cursor: pointer;
}

.reviewText:hover {
  text-decoration: underline;
  color: #d47b00;
}
.reviewText::after {
  content: '|';
  margin-left: 5px;
  color: #2c697d;
}

.reviewText:last-of-type::after {
  content: '';
}

.ratingValue {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 5px;
}

.colors {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
.colorImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.colorOption {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.productColorTitle {
  font-size: 0.8rem;
  color: #000;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 8px;
}

.colorLabel {
  font-weight: 400;
  color: #000;
}

.pieceInfo {
  font-weight: 600;
  font-weight: bold;
  color: #0b0a0a;
}

.divider {
  border-top: 1px solid #ddd;
}
.productDetails {
  margin-top: 15px;
}

.productDetailsTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #000;
  font-weight: 500;
  font-weight: bold;
}

.productDetailsItem {
  display: flex;
  justify-content: flex-start;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.productDetailsItem strong {
  font-weight: 600;
  font-size: 13px;
  color: #000;
}

.productDetailsItem span {
  color: #000;
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.sizeSelector {
  font-size: 0.8rem;
  margin-top: 10px;
  font-weight: bold;
  color: #000;
  font-weight: 400;
}
.sizeDropdown {
  margin-top: 2px;
  width: 20%;
  padding: 5px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  background-color: #f9f9f9;
  outline: none;
  font-size: 14px;
  color: #333;
}

.sizeDropdown:focus {
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 0 3px #31737d;
}

.sizeDropdown:hover {
  border-color: #bdbdbd;
}
.stockAndPurchaseSection {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1.5vw;
  border-radius: 0.5vw;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 250px;
}

.inStock {
  color: #4caf50;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 1vw;
}

.quantitySelector {
  width: 100%;
  margin-bottom: 20px;
}

.quantityDropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 12px;
}

.addToCartButton,
.buyNowButton {
  display: block;
  width: 100%;
  padding: 0.7vw;
  font-size: 0.9vw;
  color: #000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 1vw;
}

.addToCartButton {
  background-color: #f7c537;
}

.buyNowButton {
  background-color: #ff9900;
}
.productDivider {
  display: none;
}
@media (max-width: 1024px) {
  .productDetail {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
  }
  .imageContainer {
    flex: 1 1 50%;
  }

  .productImage {
    max-width: 100%;
    height: auto;
  }

  .reviewSection {
    margin-top: 10px;
  }
  .ratingValue {
    font-size: 1rem;
  }
  .reviewText {
    font-size: 0.6rem;
  }
  .reviewText::after {
    margin: 0 5px;
  }
  .productInfo h1 {
    font-size: 1.2rem;
  }

  .sizeDropdown {
    width: 30%;
    font-size: 14px;
  }
  .stockAndPurchaseSection {
    max-width: 26vw;
    padding: 15px;
    border-radius: 10px;
  }

  .addToCartButton,
  .buyNowButton {
    font-size: 1.2vw;
  }
  .productBrand {
    font-size: 0.6rem;
  }
  .productColorTitle {
    font-size: 0.7rem;
  }
  .aboutSectionTitle {
    font-size: 1.1rem;
  }
  .productDetailsTitle {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .productDetail {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .imageContainer {
    flex: 1 1 50%;
  }

  .productImage {
    max-width: 100%;
    height: auto;
  }

  .reviewSection {
    margin-top: 10px;
  }
  .ratingValue {
    font-size: 0.75rem;
  }
  .reviewText {
    font-size: 0.52rem;
  }
  .reviewText::after {
    margin: 0 5px;
  }
  .productInfo h1 {
    font-size: 1.1rem;
  }
  .sizeSelector {
    font-size: 0.7rem;
  }
  .sizeDropdown {
    width: 35%;
    font-size: 14px;
  }
  .stockAndPurchaseSection {
    max-width: 24vw;
    padding: 15px;
    border-radius: 10px;
  }

  .addToCartButton,
  .buyNowButton {
    font-size: 1.2vw;
  }
  .colorOption {
    width: 40px;
    height: 35px;
  }
  .colors {
    gap: 5px;
  }
  .productColorTitle {
    font-size: 0.7rem;
  }
  .aboutSectionTitle {
    font-size: 1.1rem;
  }
  .productDetailsTitle {
    font-size: 1.1rem;
  }
}
@media (max-width: 568px) {
  .productDetail {
    flex-direction: column;
    padding: 10px 0px;
    justify-content: center;
  }

  .productInfo h1,
  .ratingValue,
  .reviewText,
  .divider,
  .productBrand,
  .starRating,
  .productPrice,
  .sizeDropdown,
  .productDetails,
  .imageContainer,
  .colorOption,
  .stockAndPurchaseSection,
  .productTitleMobile,
  .purchaseSection {
    display: none;
  }

  .productDivider {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
  }
  .productColorTitle {
    font-size: 0.84rem;
  }
  .sizeSelector {
    font-size: 0.84rem;
  }
  .aboutSection {
    color: #555;
  }
  .aboutSectionTitle {
    font-size: 1.1rem;
  }
}
